{% extends "base.html" %}
{% load urlify %}

{% block title %}
	Detail
{% endblock title %}


{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="thumbnail">
	{% if instance.image %}
        <img src="{{instance.image.url}}" alt="" class="img-responsive">
    {% endif %}
	<div class="caption">
	<h3>{{instance.title}}</a><small> {{instance.timestamp|timesince}} ago</small></h3>
	<p>{{instance.content|linebreaks|truncatechars:100}}</p>

	<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
	Share on Facebook</a><br>
	<a href="https://twitter.com/home?status={{share_string}}%20{{request.build_absolute_uri}}">
    Share on Twitter</a><br>
	<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlify}}&summary={{instance.content|truncatechars:35|urlify}}&source={{request.build_absolute_uri}}">
    Share on Linkedin</a><br>
	</div>
</div>
</div>
</div>
<a href="{% url 'posts:list' %}">Back to List</a>

{% endblock content %}

